
.myWorks {
    display: none;
}

   main {
    background-color: rgb(245, 246, 248);
    
  } 

  .content {
    display: flex; 
  }
    
  .main {
    width: 100%;
  }

  .menu {
    background-color: #fff;
    min-width: 255px;
    margin-right: 20px;  
      
    .menu__content {
      max-width: 195px;
      margin: 0 auto;
      .menu__button {
      width: 195px;
      height: 40px;
      margin-top: 40px;
      margin-bottom: 30px;
      background-color: rgb(255 111 41);
      color: white;
      border-radius: 22.5px;
      }
    }    
  }

.newСomics_block {
  width: 196px;
  display: block;
  position: relative;
   
  .img {
    width: 196px;
    height: 284px;
    border-radius: 6px;
    background: royalblue;
    &::before {
    content: " ";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../img/edit.svg"); 
    background-position: -9px -9px;     
    position: absolute;
    top: 10px;
    right: 10px;
    } 
  }
  .heading {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 5px 0 0 0;
    letter-spacing: 0;
    max-width: 196px;
  }
  .writer {
    text-transform: capitalize;
    color: orange;
    margin: 5px 0;
  }
  .meta {
    display: flex;
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    .comment {
      display: flex;
      .comment-bg {
        width: 20px;
        height: 20px;
        background-color: grey;
      }
      .comment-count {
        margin-right: 5px;
        margin: 0 3px;
      }
    }
    .likes {
      display: flex;
      border-left: 1px solid grey;
      border-right: 1px solid grey;
      .likes-bg {
        width: 20px;
        height: 20px;
        margin: 0 3px;
        background-color: grey;
      }
      .likes-count {
        margin-right: 5px;
      }
    }
    .views {
      display: flex;
      .views-bg {
        width: 20px;
        height: 20px;
        margin: 0 3px;
        background-color: grey;
      }      
    }      
  }   
}

.myWorks {
  width: 825px;
  height: 924px;
  background-color: #fff;
  .myWorks__title {
    font-weight: bold;
    padding: 30px 0 0 30px;
  }
  .backgroundImg {
    background:yellow;
    max-width: 300px;
    height: 300px;
    margin: 0 auto 30px; 
  }
  .myWorks__text {
    max-width: 283px;
    font-size: 18px;
    margin: 0 auto;    
    text-align: center;
  }
}

.active {
  font-weight: bold;
}

 #nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


span:nth-child(1) {
  top: 0px;
}

span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
}




@media screen and (min-width: 1200px) {
  .container:not(.is-max-desktop) {
      max-width: 1152px;
  }
}

@media (min-width: 1408px) {
  .col-xl-3 {
      flex: 0 0 20%;
      max-width: 20%;
  }
}
